<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cats List</title>
</head>
<body>

<h1>Cats List</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Breed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cat : ${cats}">
        <td th:text="${cat.id}"></td>
        <td th:text="${cat.name}"></td>
        <td th:text="${cat.description}"></td>
        <td th:text="${cat.breed}"></td>
        <a th:href="@{/details/{id}(id=${cat.id})}">Details</a>
    </tr>
    </tbody>
</table>

</body>
</html>
